.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8vh 10vw 0 10vw;

  h1 {
    font-size: 4rem;
    padding-bottom: 2vh;
    font-weight: 600;

    span {
      font-weight: 400;
      -webkit-text-fill-color: #ff6700;
    }
  }

  .tagline {
    color: rgb(255, 55, 0);
    padding-bottom: 3vh;
  }

  .info {
    text-align: center;
    font-size: 1.2rem;
    color: #333333;
  }

  @media screen and (max-width: "815px") {
    .info {
      text-align: justify;
    }

    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }

  @media screen and (max-width: "450px") {
    h1 {
      font-size: 2.2rem;
    }

    .info {
      font-size: 1rem;
      text-align: justify;
    }
  }

  @media screen and (max-width: "300px") {
    h1 {
      font-size: 1.5rem;
    }

    .tagline {
      font-size: 1rem;
      text-align: center;
      padding-bottom: 2vh;
    }

    .info {
      font-size: 12px;
    }

  }
}

.founder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4vh 0 0 0;

  .title {
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 10px;

    span {
      font-weight: 400;
      -webkit-text-fill-color: #ff6700;
    }
  }

  .founderInfo {
    display: flex;
    padding: 7vh 3vw;

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .picture {
        height: 60vh;
        width: 70%;
        position: relative;

        img {
          position: absolute;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .founderName {
        font-size: 3rem;
        text-align: start;
        color: #353638;
      }

      .tagline {
        color: #ff6700;
        padding-bottom: 15px;
        font-size: 1.5rem;
        border-bottom: 2px solid #ff0000;
        width: fit-content;
        margin-bottom: 20px;
      }

      .info {
        font-size: 20px;

        span {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }

  @media screen and (max-width: "1080px") {

    .title {
      font-size: 3rem;
      padding-bottom: 0;
    }

    .founderInfo {
      flex-direction: column;
      justify-content: center;
      align-self: center;
      gap: 40px;
      padding: 3vh;

      .left {
        .picture {
          height: 50vh;
          width: 80%;
        }
      }

      .right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0 2vw;

        .info {
          padding: 20px 0;
        }
      }
    }
  }

  @media screen and (max-width: "543px") {

    .founderInfo {

      .left {
        .picture {
          height: 40vh;
        }
      }

      .right {

        .founderName {
          font-size: 2.5rem;
        }

        .tagline {}

        .info {
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  }

  @media screen and (max-width: "450px") {
    .title {
      font-size: 2.2rem;
    }

    .founderInfo {

      .left {
        .picture {
          height: 40vh;
        }
      }

      .right {

        .founderName {
          font-size: 2rem;
          margin-bottom: 5px;
        }

        .tagline {
          font-size: 1.1rem;
          margin-bottom: 5px;
          padding-bottom: 5px;
        }

        .info {
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  }

  @media screen and (max-width: "300px") {
    .title {
      font-size: 1.5rem;
    }

    .founderInfo {

      .right {

        .founderName {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }

        .tagline {
          font-size: 1rem;
          margin-bottom: 5px;
          padding-bottom: 5px;
        }

        .info {
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  }
}

.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4vh 10vw 8vh 10vw;

  h1 {
    font-size: 4rem;
    font-weight: 600;

    span {
      font-weight: 400;
      -webkit-text-fill-color: #ff6700;
    }
  }

  .tagline {
    color: rgb(255, 55, 0);
    padding: 2vh 0;
  }

  .info {
    text-align: center;
    font-size: 1.2rem;

    p {
      padding: 10px 0;
    }
  }

  @media screen and (max-width: "815px") {
    padding: 0 7vw 4vh 7vw;

    h1 {
      font-size: 3rem;
    }

    .info {
      text-align: justify;
    }
  }

  @media screen and (max-width: "450px") {
    h1 {
      font-size: 2.2rem;
    }

    .info {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: "300px") {
    h1 {
      font-size: 1.5rem;
    }

    .tagline {
      font-size: 1rem;
      text-align: center;
      padding-bottom: 2vh;
    }

    .info {
      font-size: 12px;
    }
  }
}

.countDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: flex-start;
  padding: 10vh 5vw;
  background: #393939;

  .point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-direction: column;

    .number {
      font-size: 4rem;
      color: #FE7E26;
    }

    p {
      width: 70%;
      text-align: center;
      font-size: 1.5rem;
      color: #fff;
    }
  }

  @media screen and (max-width: "1335px") {

    .point {
      width: 250px;
    }
  }

  @media screen and (max-width: "1110px") {

    .point {
      .number {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: "1080px") {
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 40px;

  }

  @media screen and (max-width: "543px") {
    grid-template-columns: auto;
    justify-content: space-around;
    row-gap: 40px;

    .point {
      align-items: flex-start;

      p{
        text-align: start;
      }
    }
  }

  @media screen and (max-width: "450px") {
    .point {

      .number {
        font-size: 3rem;
      }
    }
  }
}