.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10vh 10vw 15vh 10vw;
    text-align: center;

    h3{
        font-size: 1.5rem;
        line-height: 1;
    }

    h1{
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 600;
    }

    .info{
        text-align: justify;
        padding: 5vh 0;
        font-size: 20px;

        p{
            padding: 10px 0;
        }
    }
}