.container {
  min-width: 100%;
  height: 100vh;
  padding-top: 7vh;
  position: relative;
  background: rgb(254, 126, 38);
  background: linear-gradient(
    4deg,
    rgba(254, 126, 38, 1) 50%,
    rgba(255, 160, 96, 1) 100%
  );

  h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    padding: 0 12vw;
    text-transform: uppercase;
    -webkit-text-fill-color: #fff;
    line-height: 1;
    font-family: "Lilita One", cursive;
    z-index: 1;
    position: relative;

    span {
      width: 50%;
    }
  }

  .tagline {
    padding: 2vh 12vw 0 12vw;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-text-fill-color: #000;
    z-index: 1;
    position: relative;
  }

  .arrows {
    padding-top: 40px;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    color: #018e9b;
    gap: 30vw;
    position: relative;
    width: 50%;

    .nextComment {
      cursor: pointer;
      font-weight: 400;
      z-index: 1;
      position: relative;
    }

    .prevComment {
      cursor: pointer;
      font-weight: 400;
      z-index: 1;
      position: relative;
    }
  }

  .testimonialsDiv {
    position: relative;
    width: 50%;
    height: 80vh;
    margin-left: 5vw;

    .testimony {
      position: absolute;
      background: #fff;
      border-radius: 20px;
      top: 15%;
      left: 20%;
      right: auto;
      bottom: auto;
      text-align: center;
      width: 30vw;
      z-index: 0;
      opacity: 0;
      transition: 1s;
      z-index: 2;

      .author {
        font-size: 35px;
      }

      .comment {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1rem 1vw;
      }

      .stars {
        color: gold;
        display: flex;
        justify-content: center;
      }

      .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 7px;

        img {
          border-radius: 50%;
          box-shadow: 1px 1px 1px #000;
        }
      }

      .commenter {
        margin: 10px 0;
      }

      &.testimonyActive {
        opacity: 1;
        transform: scale(1.1);
        z-index: 99;
        height: fit-content;
        padding: 6vh 1vw;
      }

      &.testimonyLeft {
        transform: translateX(-50%) scale(0.5);
        transition: 1s;
        opacity: 0.3;
        height: fit-content;
        padding: 6vh 1vw;
        line-height: 1;
      }

      &.testimonyRight {
        transform: translateX(50%) scale(0.5);
        transition: 1s;
        opacity: 0.3;
        height: fit-content;
        padding: 6vh 1vw;
        line-height: 1;
      }
    }
  }

  .circle1 {
    position: absolute;
    top: 10%;
    right: 10%;
    min-width: 300px;
    min-height: 300px;
    background: rgb(255, 125, 0);
    background: linear-gradient(
      42deg,
      rgba(255, 125, 0, 0.7) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 50%;
    z-index: 1;
    box-shadow: -0.2px 0.2px 1px #000;
    cursor: grabbing;
  }

  .circle2 {
    position: absolute;
    top: 20%;
    left: -5%;
    right: auto;
    min-width: 300px;
    min-height: 300px;
    background: rgb(255, 125, 0, 1);
    background: linear-gradient(
      to top,
      rgba(255, 125, 0, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0.2px -0.2px 1px #000;
    cursor: grabbing;

    &:hover {
      scale: 1.2;
    }
  }

  .circle3 {
    position: absolute;
    bottom: 22%;
    right: 40%;
    left: auto;
    min-width: 150px;
    min-height: 150px;
    background: rgba(255, 125, 0, 1);
    background: linear-gradient(
      to top,
      rgba(255, 125, 0, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0.2px -0.2px 1px #000;
    cursor: grabbing;

    &:hover {
      scale: 1.2;
    }
  }

  .circle4 {
    position: absolute;
    bottom: 8%;
    right: 1%;
    left: auto;
    min-width: 150px;
    min-height: 150px;
    background: rgb(255, 125, 0);
    background: linear-gradient(
      42deg,
      rgba(255, 125, 0, 0.7) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0.2px -0.2px 1px #000;
    cursor: grabbing;
  }

  .shape {
    position: absolute;
    top: 100%;
    min-width: 100%;
    height: 100%;
    z-index: 0;
  }
}
